.top{
    width: 100%;
    height: 100px;
    background-color: blue;
}
.middle{
    margin-top: 12rem;
    margin-bottom: 12rem;
}
.bottom{
    width: 100%;
    height: 100px;
    background-color: green;
}